@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap')

// Vars
:root
  --mainColor: "#508bfc"
  // --bs-blue Вторая главная переменная 

body
  background-color: #508bfc
  font-family: 'Source Code Pro', monospace

.slide-enter,
.slide-exit 
  transition: transform 1000ms ease-out


.slide-enter 
  opacity: 1
  z-index: 2


.slide-enter.slide-enter-active 
  opacity: 1
  transition: all 1s


.slide-exit 
  position: absolute
  top: 3.5rem
  z-index: 2
  left: 0
  width: 100%


.slide-exit-active 
  opacity: 0
  transition: all 1s


